<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ namasekolah }}</title>
    <style>
    h1 {
        color: red;
    }
    </style>
    {% block custom_css %}
    
    {% endblock %}
</head>
<body>
    
    {% block main_content %}
    
    {% endblock %}




    {% block custom_js %}
    
    {% endblock %}
</body>
</html>
