{% extends 'layouts/master.twig' %}

{% block custom_css %}
<style>
.text-blue {
    color: blue;
}
</style>
{% endblock %}

{% block main_content %}
<h1 class="text-blue">Al Furqon</h1>

<h1>Al Furqon</h1>
{% endblock %}
